@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-gray-800;
}
@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-rotate {
  animation: rotate 60s linear infinite;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 40s linear infinite;
}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

